<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->
    <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>About Company</h2>
                        <ol class="breadcrumb list-inline text-center">
                            <li class="list-inline-item">
                                <a href="/">
                                    <i class="ion-ios-home"></i> Home &nbsp; &nbsp;/
                                </a>
                            </li>
                            <li class="active list-inline-item">About</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
==================================================
    Company Description Section Start
================================================== -->
    <section class="company-description">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s">
                    <img src="img/about/about-company.jpg" style=" border-radius: 25px;" alt="" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <div class="block">
                        <br><h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">ABOUT US</h3>
                        <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">


                            The wheels nation is fuelled to set your bike on a smooth journey. Our team believes in efficiency and topmost customer service. Whether it is a bike service, bike repair or bike cleaning we are a one-stop solution for all your bike things. We are here
                            to bring a revolution in the bike servicing industry. Owing to the current scenario of Covid-19, we promise to provide hygienic and safe service to all our customers. If the question is bike service, the answer is always TWN.
                        </p>
                        <p class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
==================================================
    Company Feature Section Start
================================================== -->
<br>
<!--
    ==================================================
        Clients Section Start
    ================================================== -->

<br><br><br>
<div class="section-heading">
    <h1 class="title wow fadeInDown" data-wow-delay=".3s">brands we service</h1>

</div>
<section>
    <div class="brand owl-carousel owl-theme">
        <div>
            <img src="img/honda.png" style="background-color:white;height:100px;">
        </div>
        <div>
            <img src="img/ktm.png" style="background-color:white;height:100px;">
        </div>
        <div>
            <img src="img/re.png" style="background-color:white;height:100px;">
        </div>
        <div>
            <img src="img/suzuki.png" style="background-color:white;height:100px;">
        </div>
        <div>
            <img src="img/hero.png" style="background-color:white;height:100px;">
        </div>

        <div>
            <img src="img/bajaj.png" style="background-color:white;height:100px;">
        </div>
        <div>
            <img src="img/yamaha.png" style="background-color:white;height:100px;">
        </div>
        <div>
            <img src="img/mahindra.png" style="background-color:white;height:100px;">
        </div>
        <div>
            <img src="img/harley.png" style="background-color:white;height:100px;">
        </div>

    </div>

</section>

<br><br><br>




<br><br><br>


    <!-- include footer -->
    <%- include('includes/_footer') %>
        <!-- /include footer -->
