<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <div class="filter">
                    <a href="/admin_dashboard"><i class="fas fa-angle-double-left"></i> Back to dashboard</a>
                </div>
            </div>

            <div class="form-title text-center">
                <h2 class="text-dark">New service provider</h2>
                <span class="text-light">Use the below form to create a new service provider</span>
            </div>

            <!-- add user form -->
            <!-- form handling -->
            <form action="/api/serviceprovider" method="POST" id="add_user" enctype="multipart/form-data">
                <div class="new_user">
                    <div class="form-group">
                        <label for="name" class="text-light">Name</label>
                        <input type="hidden" name="id" value="">
                        <input type="text" name="name" value="" placeholder="Name of service provider" required>
                    </div>
                    <div class="form-group">
                        <label for="Email" class="text-light">Service</label>
                        <input type="text" name="service" value="" placeholder="Service provided" required>
                    </div>
                    <div class="form-group">
                        <label for="Email" class="text-light">price</label>
                        <input type="text" name="price" value="" placeholder="Details of service" required>
                    </div>
                    <div class="form-group">
                        <label for="paragraph-1" class="text-light">Details</label>
                        <textarea name="details" id="paragraph-1" cols="30" rows="10" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="paragraph-3" class="text-light">Image</label>
                        <input type="file" name="avatar" required />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn text-dark update">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <!-- include footer -->
    <%- include('includes/_footer') %>
        <!-- /include footer -->