<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->


    <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Cart</h2>
                        <ol class="breadcrumb list-inline text-center">
                            <li class="list-inline-item">
                                <a href="index.html">
                                    <i class="ion-ios-home"></i> Home &nbsp; &nbsp;/
                                </a>
                            </li>
                            <li class="active list-inline-item">Blog</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <div class="products-container">
        <div class="product-header">
            <div class="product-title">Product(s)</div>
            <div class="price">Price</div>
            <div class="quantity">Qty.</div>
            <div class="total">Total</div>
        </div>
        <div class="products">


        </div>
    </div>



    <!-- include footer -->
    <%- include('includes/_footer') %>
        <!-- /include footer -->