<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->


    <!--
==================================================
Global Page Section Start
================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>DOORSTEP SERVICES</h2>
                        <div class="portfolio-meta">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#Page header-->


    <section class="single-post">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="post-img">
                        <img class="img-fluid" alt="" src="images/blog/post-1.jpg">
                    </div>
                    <div class="post-content">
                        You can order in food, you can call up for a home parlor session. Then why not do the same with your bikes? Doorstep services have a set of perks and benefits. They make life easier and living a little smoother. And here is a list, as to why YOU deserve
                        and need this doorstep service.
                        <br>
                        <br><b>D for decreased work –</b>
                        <br>
                        <br> There might be a zillion things on your to-do list and we don’t think going to the garage should be one of it. Among the busy lifestyle and a tight schedule, reduce your workload by calling up a service that caters to your
                        fast life.
                        <br>
                        <br><b>O for optimum use of resources –</b>
                        <br>
                        <br>The fact that you waste fuel and time in going to a mechanic is just not fair enough. Services that provide home to home service help in conserving a ton of resources.
                        <br>
                        <br><b>O for Open Working –</b>
                        <br>
                        <br>We all love our automobile a little too much and no one can deny it. We are always skeptical about leaving our bikes at the mechanic, fearing any sorts of damage to the bike. Doorstep services completely eradicate this issue
                        for us. The mechanic works right in front of our eyes and there is no paranoia with leaving our precious bike at some other place.
                        <br>
                        <br> <b> R for Real time solution –</b>
                        <br>
                        <br> We can avoid the mess of calling up a hundred phone numbers and run a thousand places. It is the solution which is practical, convenient and feasible.
                        <br>
                        <br><b>S for Safety –</b>
                        <br>
                        <br>The Covid has struck upon the world and safety is the concern for everyone. It is a risk to go places where a lot of public has access. It is tough to follow the needed rules and restrictions at servicing stations. Home is
                        the place we need to be and the place where our bikes deserve to be serviced.
                        <br>
                        <br> <b> T for Timing Convenience –</b>
                        <br>
                        <br> Garages and servicing has a specific timing that they adhere to. Door step
                        <br>
                        <br>services gift you with flexible timings. You can book an appointment whenever and wherever you want. No more running around before the shop closes or the person goes for lunch; choose your own timings.
                        <br>
                        <br><b>E for Emergency Contact –</b>
                        <br>
                        <br> Vehicles breakdown all the time and doorstep services are the go-to contact. Hit us up with any issue and we will
                        <br>
                        <br> <b>P for Perfect Option for today’s world</b>
                        <br>

                        <br>That’s Doorstep Benefits for everyone.
                    </div>
                    <!---            <ul class="social-share">
                    <h4>Share this article</h4>
                    <li>
                        <a href="#" class="Facebook">
                            <i class="ion-social-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="Twitter">
                            <i class="ion-social-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="Linkedin">
                            <i class="ion-social-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="Google Plus">
                            <i class="ion-social-instagram"></i>
                        </a>
                    </li>

                </ul> --->

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">



                </div>
            </div>
        </div>
    </section>




    <!-- include footer -->
    <%- include('includes/_footer') %>
        <!-- /include footer -->