<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->


    <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Service For 2 Wheelers</h2>
                        <ol class="breadcrumb list-inline text-center">
                            <li class="list-inline-item">
                                <a href="/">
                                    <i class="ion-ios-home"></i> Home &nbsp; &nbsp;/
                                </a>
                            </li>
                            <li class="active list-inline-item">Service</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
==================================================
    Service Page Section  Start
================================================== -->
    <section id="service-page" class="pages service-page">
        <div class="container">
            <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms" style="text-align: center;">Select services</h2>
            <div class="row">
                <div class="col-lg-6">

                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms"></p>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="block">
                        <div class="row service-parts">
                            <div class="col-md-6">
                                <% for(var i = 0; i < service_list.length; i++) { %>
                                    <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                        <a href="/services_provider_list"><i class="ion-ios-paper-outline" color: #041c3c></i></a>
                                        <a href="/services_provider_list?service=<%= service_list[i]%>" style="color:#041c3c">
                                            <h4>
                                                <%= service_list[i] %>
                                            </h4>
                                        </a><br>
                                        <button type="button" class="collapsible">Open Collapsible</button>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </section>

    <section class="servicegrid about-feature clearfix services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 px-0">
                    <div class="block service-1 about-feature-1  wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                        <div class="service_logo">
                            <img src="img/16.jpg" alt="" style="width: 50px; border-radius: 50%;">
                        </div>
                        <h2 style="text-align: center;">
                            DOORSTEP SERVICES
                        </h2>
                        <div class="service_btn">
                            <button class="btnn">Select</button>
                            <button class="btnn">Service Details</button>

                        </div>


                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-2 service-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                        <div class="service_logo">
                            <img src="img/16.jpg" alt="" style="width: 50px; border-radius: 50%;">
                        </div>
                        <h2 style="text-align: center;">
                            DOORSTEP SERVICES
                        </h2>
                        <div class="service_btn">
                            <button class="btnn">Select</button>
                            <button class="btnn">Service Details</button>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-3 service-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                        <div class="service_logo">
                            <img src="img/16.jpg" alt="" style="width: 50px; border-radius: 50%;">
                        </div>
                        <h2 style="text-align: center;">
                            DOORSTEP SERVICES
                        </h2>
                        <div class="service_btn">
                            <button class="btnn">Select</button>
                            <button class="btnn">Service Details</button>

                        </div>
                    </div>
                </div>


                <div class="col-lg-4 px-0">
                    <div class="block about-feature-2 service-4 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                        <div class="service_logo">
                            <img src="img/16.jpg" alt="" style="width: 50px; border-radius: 50%;">
                        </div>
                        <h2 style="text-align: center;">
                            DOORSTEP SERVICES
                        </h2>
                        <div class="service_btn">
                            <button class="btnn">Select</button>
                            <button class="btnn">Service Details</button>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-3 service-5 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                        <div class="service_logo">
                            <img src="img/16.jpg" alt="" style="width: 50px; border-radius: 50%;">
                        </div>
                        <h2 style="text-align: center;">
                            DOORSTEP SERVICES
                        </h2>
                        <div class="service_btn">
                            <button class="btnn">Select</button>
                            <button class="btnn">Service Details</button>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 px-0">
                    <div class="block about-feature-2 service-6 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                        <div class="service_logo">
                            <img src="img/16.jpg" alt="" style="width: 50px; border-radius: 50%;">
                        </div>
                        <h2 style="text-align: center;">
                            DOORSTEP SERVICES
                        </h2>
                        <div class="service_btn">
                            <button class="btnn">Select</button>
                            <button class="btnn">Service Details</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>















    <!-- include footer -->
    <%- include('includes/_footer') %>
        <!-- /include footer -->