<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->


    <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>service providers list</h2>
                        <ol class="breadcrumb list-inline text-center">
                            <li class="list-inline-item">
                                <a href="index.html">
                                    <i class="ion-ios-home"></i> Home &nbsp; &nbsp;/
                                </a>
                            </li>
                            <li class="active list-inline-item">Service Providers</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <!--
==================================================
    Works Section Start
================================================== -->

    <section id="blog-full-width">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="sidebar">




                        <div class="recent-post widget">
                            <h3>Service Providers</h3>
                            <ul>
                                <li>
                                    <a href="service-provider-details.html">Provider 1</a><br>

                                </li>
                                <li>
                                    <a href="service-provider-details.html">Provider 2</a><br>

                                </li>
                                <li>
                                    <a href="service-provider-details.html">Provider 3</a><br>

                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="blog-post-image">
                            <img class="img-fluid" src="images/portfolio/item-1.jpg" alt="" /></a>
                        </div>
                        <div class="blog-content">
                            <h2 class="blogpost-title">
                                <a href="/services_provider_list_details">Service provider 1</a>
                            </h2>
                            <div class="blog-meta">



                            </div>
                            <p>Area<br>
                                <a href="/services_provider_list_details" class="btn btn-dafault btn-details hvr-bounce-to-right">Get Details</a>
                        </div>
                    </article>
                    <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="blog-post-image">
                            <img class="img-fluid" src="images/portfolio/item-1.jpg" alt="" /></a>
                        </div>
                        <div class="blog-content">
                            <h2 class="blogpost-title">
                                <a href="/services_provider_list_details">Service provider 2</a>
                            </h2>
                            <div class="blog-meta">



                            </div>
                            <p>
                                Area<br>
                                <a href="/services_provider_list_details" class="btn btn-dafault btn-details hvr-bounce-to-right">Get Details</a>
                        </div>
                    </article>
                    <article class="wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">
                        <div class="blog-post-image">
                            <img class="img-fluid" src="images/portfolio/item-1.jpg" alt="" /></a>
                        </div>
                        <div class="blog-content">
                            <h2 class="blogpost-title">
                                <a href="/services_provider_list_details">Service provider 3</a>
                            </h2>
                            <div class="blog-meta">



                            </div>
                            <p>
                                Area<br>
                                <a href="/services_provider_list_details" class="btn btn-dafault btn-details hvr-bounce-to-right">Get Details</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>







    <!-- include footer -->
    <%- include('includes/_footer') %>
        <!-- /include footer -->