<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->


    <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Service For 2 Wheelers</h2>
                        <ol class="breadcrumb list-inline text-center">
                            <li class="list-inline-item">
                                <a href="index.html">
                                    <i class="ion-ios-home"></i> Home &nbsp; &nbsp;/
                                </a>
                            </li>
                            <li class="active list-inline-item">Service</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
==================================================
    Service Page Section  Start
================================================== -->
    <section id="service-page" class="pages service-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Select services</h2>
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="block">
                        <div class="row service-parts">


                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="block">
                        <div class="row service-parts">
                            <div class="col-md-6">
                                <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                    <a href="/services_provider_list"><i class="ion-ios-paper-outline" color: #041c3c></i></a>
                                    <a href="/services_provider_list" style="color:#041c3c">
                                        <h4>GENERAL SERVICE</h4>
                                    </a><br>
                                    <button type="button" class="collapsible">Open Collapsible</button>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                    <a href="/services_provider_list"><i class="ion-ios-paper-outline"></i></a>
                                    <a href="/services_provider_list" style="color:#041c3c">
                                        <h4>GENERAL PRO SERVICE</h4>
                                    </a><br>
                                    <button type="button" class="collapsible">Open Collapsible</button>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                    <a href="/services_provider_list"><i class="ion-ios-paper-outline"></i></a>
                                    <a href="/services_provider_list" style="color:#041c3c">
                                        <h4>GENERAL PREMIUM SERVICE</h4>
                                    </a>
                                    <button type="button" class="collapsible">Open Collapsible</button>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                    <a href="service-providers-list.html"><i class="ion-ios-paper-outline"></i></a>
                                    <a href="service-providers-list.html" style="color:#041c3c">
                                        <h4>CUSTOMIZED SERVICE</h4>
                                    </a><br>
                                    <button type="button" class="collapsible">Open Collapsible</button>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                    <a href="service-providers-list.html"><i class="ion-ios-paper-outline"></i></a>
                                    <a href="service-providers-list.html" style="color:#041c3c">
                                        <h4>BIKE MODIFICATION</h4>
                                    </a><br>
                                    <button type="button" class="collapsible">Open Collapsible</button>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                    <a href="service-providers-list.html"><i class="ion-ios-paper-outline"></i></a>
                                    <a href="service-providers-list.html" style="color:#041c3c">
                                        <h4>ACCIDENTAL REPAIR</h4>
                                    </a><br>
                                    <button type="button" class="collapsible">Open Collapsible</button>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                    <a href="service-providers-list.html"><i class="ion-ios-paper-outline"></i></a>
                                    <a href="service-providers-list.html" style="color:#041c3c">
                                        <h4>VEHICLE HEALTH REPORT</h4>
                                    </a><br>
                                    <button type="button" class="collapsible">Open Collapsible</button>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                    <a href="service-providers-list.html"><i class="ion-ios-paper-outline"></i></a>
                                    <a href="service-providers-list.html" style="color:#041c3c">
                                        <h4>OILING</h4>
                                    </a><br>
                                    <button type="button" class="collapsible">Open Collapsible</button>
                                    <div class="content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                            ea commodo consequat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>










    <!--
            ==================================================
            Call To Action Section Start
            ================================================== -->
    <section id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">SO WHAT YOU THINK ?</h1>

                            <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Contact With Me</a>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!--
                        ==================================================
                        Footer Section Start
                        ================================================== -->
    <footer id="footer">
        <div class="container">
            <div class="row content-justify-between">
                <div class="col-md-8 col-12 text-center text-lg-left text-md-left">
                    ©2021 TWN AUTOMOTIVE SOLUTION LLP
                </div>
                <div class="col-md-4 col-12">
                    <!-- Social Media -->
                    <ul class="social text-center text-md-right text-lg-right">
                        <li>
                            <a href="https://www.facebook.com/thewheelsnation/" class="Facebook">
                                <i class="ion-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/thewheelsnation?s=09" class="Twitter">
                                <i class="ion-social-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/thewheelsnation/" class="Linkedin">
                                <i class="ion-social-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/thewheelsnation/?igshid=1xwob9d84pygk" class="Google Plus">
                                <i class="ion-social-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- /#footer -->

    <!-- Template Javascript Files
              ================================================== -->
    <!-- jquery -->
    <script>
        // When the user clicks on div, open the popup
        function myFunction() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }
    </script>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>

    <script src="plugins/jQurey/jquery.min.js"></script>
    <!-- Form Validation -->
    <script src="plugins/form-validation/jquery.form.js"></script>
    <script src="plugins/form-validation/jquery.validate.min.js"></script>
    <!-- slick slider -->
    <script src="plugins/slick/slick.min.js"></script>
    <!-- bootstrap js -->
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <!-- wow js -->
    <script src="plugins/wow-js/wow.min.js"></script>
    <!-- slider js -->
    <script src="plugins/slider/slider.js"></script>
    <!-- Fancybox -->
    <script src="plugins/facncybox/jquery.fancybox.js"></script>
    <!-- template main js -->
    <script src="js/main.js"></script>
    </body>

    </html>

    </html>