<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->


    <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Service For 2 Wheelers</h2>
                        <ol class="breadcrumb list-inline text-center">
                            <li class="list-inline-item">
                                <a href="/">
                                    <i class="ion-ios-home"></i> Home &nbsp; &nbsp;/
                                </a>
                            </li>
                            <li class="active list-inline-item">Service</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
==================================================
    Service Page Section  Start
================================================== -->
    <section id="service-page" class="pages service-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Select services</h2>
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="block">
                        <div class="row service-parts">
                               <img src="img/about-2.png" style=" border-radius: 25px;" alt="" class="img-fluid">


                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-2 order-lg-1">
                    <div class="block">
                        <div class="row service-parts">
                            <div class="col-md-6">
                                <% for(var i = 0; i < service_list.length; i++) { %>
                                    <div class="block wow fadeInUp animated" data-wow-duration="400ms" data-wow-delay="600ms">
                                        <a href="/services_provider_list"><i class="ion-ios-paper-outline" color: #041c3c></i></a>
                                        <a href="/services_provider_list?service=<%= service_list[i]%>" style="color:#041c3c">
                                            <h4>
                                                <%= service_list[i] %>
                                            </h4>
                                        </a><br>
                                        <button type="button" class="collapsible">Open Collapsible</button>
                                        <div class="content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>
                                        </div>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </section>










    <!-- include footer -->
    <%- include('includes/_footer') %>
        <!-- /include footer -->
