<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->


    <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Service For 2 Wheelers</h2>
                        <ol class="breadcrumb list-inline text-center">
                            <li class="list-inline-item">
                                <a href="/">
                                    <i class="ion-ios-home"></i> Home &nbsp; &nbsp;/
                                </a>
                            </li>
                            <li class="active list-inline-item">Service</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
==================================================
    Service Page Section  Start
================================================== -->
   <section class="about-feature clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s" style="width:100%;">
                        <div style="    background-color: white;
                        border-radius: 15px">
                            <div class="service_logo">
                                <img src="img/icons/service3.png" alt="" style="width: 50px; border-radius: 50%;">
                            </div>
                            <h2 style="text-align: center;color:#041c3c;">
                                GENERAL SERVICE
                                <br>
                                <span style="font-size: medium;">(BELOW 150 CC )</span>
                            </h2>

                            <div class="service_btn">
                                <button class="btnn" style="  background-color: #b10b1f;" onMouseOver="this.style.backgroundColor='#041c3c'" onMouseOut="this.style.backgroundColor='#b10b1f'">Select</button>
                                <button class="btnn" style="  background-color: #b10b1f;" onMouseOver="this.style.backgroundColor='#041c3c'" onMouseOut="this.style.backgroundColor='#b10b1f'">Service Details</button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s" style="width:100%;">
                      <div style="    background-color: white;
                      border-radius: 15px">
                        <div class="service_logo">
                            <img src="img/icons/service4.png" alt="" style="width: 50px; border-radius: 50%;">
                        </div>
                        <h2 style="text-align: center;color:#041c3c;">
                            GENERAL PREMIUM SERVICE
                            <br>
                            <span style="font-size: medium;">( BETWEEN 150 CC – 250 CC )</span>
                        </h2>
                        <div class="service_btn">
                            <button class="btnn">Select</button>
                            <button class="btnn">Service Details</button>

                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s" style="width:100%;">
                      <div style="    background-color: white;
                      border-radius: 15px">
                        <div class="service_logo">
                            <img src="img/icons/service3.png" alt="" style="width: 50px; border-radius: 50%;">
                        </div>
                        <h2 style="text-align: center;color:#041c3c;">
                            GENERAL PRO SERVICE
                            <br>
                            <span style="font-size: medium;">( BETWEEN 250CC – 350CC )</span>
                        </h2>
                        <div class="service_btn">
                            <button class="btnn" style="  background-color: #b10b1f;" onMouseOver="this.style.backgroundColor='#041c3c'" onMouseOut="this.style.backgroundColor='#b10b1f'">Select</button>
                            <button class="btnn" style="  background-color: #b10b1f;" onMouseOver="this.style.backgroundColor='#041c3c'" onMouseOut="this.style.backgroundColor='#b10b1f'">Service Details</button>

                        </div>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 px-0">
                    <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s" style="width:100%;">
                        <div class="service_logo">
                            <img src="img/16.jpg" alt="" style="width: 50px; border-radius: 50%;">
                        </div>
                        <h2 style="text-align: center;">
                            ENGINE OIL & FILTER CHANGE
                        </h2>
                        <div class="service_btn">
                            <button class="btnn">Select</button>
                            <button class="btnn">Service Details</button>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s" style="width:100%;">
                        <div class="service_logo">
                            <img src="img/14.jpg" alt="" style="width: 50px; border-radius: 50%;">
                        </div>
                        <h2 style="text-align: center;">
                            TYRE PUNCTURE
                        </h2>
                        <div class="service_btn">
                            <button class="btnn" style="  background-color: #b10b1f;" onMouseOver="this.style.backgroundColor='#041c3c'" onMouseOut="this.style.backgroundColor='#b10b1f'">Select</button>
                            <button class="btnn" style="  background-color: #b10b1f;" onMouseOver="this.style.backgroundColor='#041c3c'" onMouseOut="this.style.backgroundColor='#b10b1f'">Service Details</button>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 px-0">
                    <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s" style="width:100%;">
                        <div class="service_logo">
                            <img src="img/16.jpg" alt="" style="width: 50px; border-radius: 50%;">
                        </div>
                        <h2 style="text-align: center;">
                            WASHING
                        </h2>
                        <div class="service_btn">
                            <button class="btnn" style="">Select</button>
                            <button class="btnn">Service Details</button>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s" style="width:100%;">
                        <div class="service_logo">
                            <img src="img/icons/service5.png" alt="" style="width: 50px; border-radius: 50%;">
                        </div>
                        <h2 style="text-align: center;">
                            CUSTOMISED SERVICE
                        </h2>
                        <div class="service_btn">
                            <button class="btnn" style="  background-color: #b10b1f;" onMouseOver="this.style.backgroundColor='#041c3c'" onMouseOut="this.style.backgroundColor='#b10b1f'">Select</button>
                            <button class="btnn" style="  background-color: #b10b1f;" onMouseOver="this.style.backgroundColor='#041c3c'" onMouseOut="this.style.backgroundColor='#b10b1f'">Service Details</button>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s" style="width:100%;">
                        <div class="service_logo">
                            <img src="img/icons/paint.png" alt="" style="width: 50px; border-radius: 50%;">
                        </div>
                        <h2 style="text-align: center;">
                            PAINTING :
                        </h2>
                        <div class="service_btn">
                            <button class="btnn" style="">Select</button>
                            <button class="btnn">Service Details</button>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s" style="width:100%;">
                        <div class="service_logo">
                            <img src="img/16.jpg" alt="" style="width: 50px; border-radius: 50%;">
                        </div>
                        <h2 style="text-align: center;">
                            MORE SERVICES Comming soon:
                        </h2>
                        <div class="service_btn">
                            <button class="btnn" style="  background-color: #b10b1f;" onMouseOver="this.style.backgroundColor='#041c3c'" onMouseOut="this.style.backgroundColor='#b10b1f'">Select</button>
                            <button class="btnn" style="  background-color: #b10b1f;" onMouseOver="this.style.backgroundColor='#041c3c'" onMouseOut="this.style.backgroundColor='#b10b1f'">Service Details</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br><br>

    <br><br><br>






    <!-- include footer -->
    <%- include('includes/_footer') %>
        <!-- /include footer -->
