<!-- include header -->
<%- include('includes/_header') %>
    <!-- /include header -->
    <!--
        ==================================================
            Global Page Section Start
        ================================================== -->
    <section class="global-page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h2>Why TWN ??</h2>
                        <ol class="breadcrumb list-inline text-center">
                            <li class="list-inline-item">
                                <a href="/">
                                    <i class="ion-ios-home"></i> Home &nbsp; &nbsp;/
                                </a>
                            </li>
                            <li class="active list-inline-item">Why TWN</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
==================================================
    Company Description Section Start
================================================== -->
    <section class="company-description">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s">
                    <img src="images/about/about-company.jpg" style=" border-radius: 25px;" alt="" class="img-fluid">
                </div>
                <div class="col-md-6">
                    <div class="block">
                        <h3 class="subtitle wow fadeInUp" data-wow-delay=".3s" data-wow-duration="500ms">TWN :)</h3>
                        <p class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="500ms">


                            The wheels nation is fuelled to set your bike on a smooth journey. Our team believes in efficiency and topmost customer service. Whether it is a bike service, bike repair or bike cleaning we are a one-stop solution for all your bike things. We are here
                            to bring a revolution in the bike servicing industry. Owing to the current scenario of Covid-19, we promise to provide hygienic and safe service to all our customers. If the question is bike service, the answer is always TWN.
                        </p>
                        <p class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration="500ms">

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--
==================================================
    Company Feature Section Start
================================================== -->
    <section class="about-feature clearfix">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-1 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                        <h2>
                            DOORSTEP SERVICES
                        </h2>
                        <p>
                            We understand the value of your time and customer's convenience is our priority. Get your bikes serviced from the comfort of your home or office.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                        <h2 class="item_title">
                            SAFETY AND TRUST
                        </h2>
                        <p>
                            We envision full proof service with utmost perfection, precision & perseverance. Attention to hygiene, values and ethics are important to us.

                        </p>
                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                        <h2 class="item_title">
                            TROUBLE FREE PAYMENTS
                        </h2>
                        <p>
                            No confusion and billing options available which are suitable for every one of our customer. Choose among Credit or Debit cards, Gpay or Paytm.
                        </p>
                    </div>
                </div>


                <div class="col-lg-4 px-0">
                    <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".5s">
                        <h2 class="item_title">
                            SKILLED TECHNICIANS
                        </h2>
                        <p>
                            Knowledge and passion make a great pair. And we here to provide your bikes with this amazing combination.


                        </p>
                    </div>
                </div>
                <div class="col-lg-4 px-0">
                    <div class="block about-feature-3 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".7s">
                        <h2 class="item_title">
                            CUSTOMIZED PACKAGES
                        </h2>
                        <p>
                            Mix and match services that fit your preference and need. Your bike, your packages.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 px-0">
                    <div class="block about-feature-2 wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">
                        <h2>
                            AFFORDABLE PRICES
                        </h2>
                        <p>
                            Ideal rates and a worth for your money is what we love to serve our valueable customers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
        ==================================================
            Clients Section Start
        ================================================== -->
    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="subtitle text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".3s">BRANDS WE SERVICE
                    </h2>
                    <p class="subtitle-des text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".5s">
                    </p>
                    <div id="clients-logo" class="clients-logo-slider">
                        <img class="img-fluid mx-2" src="img/clients/logo-1.jpg" alt="">
                        <img class="img-fluid mx-2" src="img/clients/logo-2.jpg" alt="">
                        <img class="img-fluid mx-2" src="img/clients/logo-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>






    <!-- include footer -->
    <%- include('includes/_footer') %>
        <!-- /include footer -->
